#root {

  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.main-wrapper{
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.search-input {
  padding: 2em;
}

.search-input__input-field {
  margin: 0 2em;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-wrapper-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detailed-view{
  max-width: 400px;
  margin: 32px;
}

.detailed-view__content{
  background: gainsboro;
  margin: 4px 16px;
  border-radius: 11px;
  padding: 16px;
}

.detailed-header h2 {
  margin-top: 0;
}

p.content{
  overflow: hidden;
}

.detailed-header{
  position: relative;
}

.close-button{
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
}

.light-theme {
  --background-color: white;
  --text-color: black;
}

.dark-theme {
  --background-color: black;
  --text-color: white;
}

div {
  background-color: var(--background-color);
  color: var(--text-color);
}